<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="BotToken" value="NDcxOTQ0NDMwMzcxNDcxMzYx.DjsNjA.AuvYoskScOzpKDc-iOyNqO2CUKk"/>
    <add key="OpenAiDotaHeroesUrl" value="https://api.opendota.com/api/heroes"/>
    <add key="BlockedUsernames" value="Cemalcan"/>
  </appSettings>
</configuration>